<!-- <section>
    <form [formGroup]="newUserForm" (click)="showErrors(newUserForm)">
        <mat-form-field class="input-group">
            <label for="email">Email</label>
            <input type="text" matInput formControlName="email" placeholder="exemplo@gmail.com">
            <mat-error *ngIf="isNotEmail && !emailRequired">
                Digite um email válido.
            </mat-error>
            <mat-error *ngIf="emailRequired">
                O email é <strong>OBRIGATÓRIO</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="input-group">
            <label for="password">Senha</label>
            <input type="password" matInput formControlName="password" placeholder="*******">
            <mat-error *ngIf="passwordRequired">
                a senha é <strong>OBRIGATÓRIA</strong>
            </mat-error>
        </mat-form-field>
        <button mat-button [class.spinner]="loading" cdkFocusInitial>Criar Conta</button>
    </form>
</section> -->