<section id="createUserView">
    <form [formGroup]="newUserForm" (click)="createUser(newUserForm)">
        <mat-form-field class="input-group">
            <label for="name">Nome</label>
            <input type="text" matInput formControlName="name" placeholder="Daniel" autocomplete="off">
            <mat-error *ngIf="nomeRequired">
                O nome é <strong>OBRIGATÓRIO</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="input-group">
            <label for="email">Email</label>
            <input type="text" matInput formControlName="email" placeholder="exemplo@gmail.com" autocomplete="off">
            <mat-error *ngIf="isNotEmail && !emailRequired">
                Digite um email válido.
            </mat-error>
            <mat-error *ngIf="emailRequired">
                O email é <strong>OBRIGATÓRIO</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="input-group">
            <label for="password">Senha</label>
            <input type="password" matInput formControlName="password" placeholder="*******">
            <mat-error *ngIf="passwordRequired">
                a senha é <strong>OBRIGATÓRIA</strong>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" class="btn-block" [class.spinner]="loading" cdkFocusInitial>Criar Conta</button>
    </form>
    <swal
      #redirectSwal
      title="Usuário criado com sucesso!"
      icon="success"
      (confirm)="redirectLogin()">
    </swal>
</section>